  <div class="container">
<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a href="" class="active" ng-click="vm.clearUser()" id="login-form-link">Login</a>
            </div>
            <div class="col-xs-6">
              <a href="" id="register-form-link" ng-click="vm.clearUser()">Register</a>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12" >
              <div class="panel panel-success" ng-show="vm.registerSuccessful">
                <div class="panel-heading text-center text-danger">
                  <div> You have been successfully registered. Please log in.</div>
                </div>
              </div>
              <div class="panel panel-default" ng-show="vm.logging">
                <div class="panel-heading text-center text-danger">
                  <img src="pictures//loading.gif" style="width:20px; height:20px;">
                  <span>&nbsp; Logging in...</span>
                </div>
              </div>
              <div class="panel panel-default" ng-show="vm.registering">
                <div class="panel-heading text-center text-danger">
                  <img src="pictures//loading.gif" style="width:20px; height:20px;">
                  <span>&nbsp; Creating account...</span>
                </div>
              </div>
              <div class="panel panel-warning" ng-show="vm.deactivateMessage">
                <div class="panel-heading text-center text-danger">
                  <div> Account deactivated!</div>
                </div>
              </div>
              <div class="panel panel-danger" ng-show="vm.invalidLoginCredentials">
                <div class="panel-heading text-center text-danger">
                  <div> Invalid username or password!</div>
                </div>
              </div>
              <div class="panel panel-danger" ng-show="vm.passwordsNotMatch">
                <div class="panel-heading text-center text-danger">
                  <div> Passwords don't match!</div>
                </div>
              </div>
              <div class="panel panel-danger" ng-show="vm.registerError">
                <div class="panel-heading text-center text-danger">
                  <div> We run into an error!</div>
                  <div> Please try again</div>
                </div>
              </div>
              <form id="login-form"  ng-submit="vm.login()" method="post" role="form" style="display: block;">
                <div class="form-group"  >
                  <input type="text"  ng-model=vm.user.username name="login_username" id="login_username" tabindex="1" class="form-control" placeholder="Username" value="" required>
                </div>
                <div class="form-group">
                  <input type="password" ng-model=vm.user.password name="login_password" id="login_password" tabindex="2" class="form-control" placeholder="Password" required>
                </div>
                <div class="form-group text-center">
                  <input type="checkbox" ng-model=vm.remember tabindex="3" class="" name="remember" id="remember">
                  <label for="remember"> Remember Me</label>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                    </div>
                  </div>
                </div>
              </form>

              <form id="register-form" ng-submit="vm.register()" method="post" role="form" style="display: none;">
                <div class="form-group">
                  <input type="text" ng-model=vm.user.name name="name" id="name" tabindex="1" class="form-control" placeholder="Name" value="" required>
                </div>
                <div class="form-group">
                  <input type="text" ng-model=vm.user.surname name="surname" id="surname" tabindex="1" class="form-control" placeholder="Surname" value="" required>
                </div>
                <div class="form-group">
                  <input type="text" ng-model=vm.user.username name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" required>
                </div>
                <div class="form-group">
                  <input type="email"ng-model=vm.user.email name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="" required>
                </div>
                <div class="form-group">
                  <input type="password" ng-model=vm.user.password name="password" id="password" tabindex="2" class="form-control" placeholder="Password" required>
                </div>
                <div class="form-group">
                  <input type="password" ng-model=vm.confirmPassword name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password" required>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script src="custom_js/login.js"></script>

