<div class="container-fluid">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Create new team
      </h1>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-dashboard"></i>  <a href="#/home-page">Dashboard</a>
        </li>
        <li>
          <i class="fa fa-users"></i> Teams
        </li>
        <li class="active">
          <i class="fa fa-plus-square"></i> New team
        </li>
      </ol>
    </div>
  </div>
  <!-- /.row -->



  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-users fa-fw"></i> Add new team</h3>
    </div>
    <div class="panel-body">
      <!--<h4> New team form </h4>-->
      <form  id="newTeam" name="newTeamForm" ng-submit="vm.saveTeam()">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <input-component placeholder="name for team"
                             label="Team name"
                             type="text"
                             model="vm.newTeam.name"
                             required="true"
                             focus="true">
            </input-component>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <label>Select workers for your project</label>
            <div ng-show="vm.uiState.loadGif">
              <img src="pictures//loading.gif" style="width:20px; height:20px;">
            </div>
            <multiple-select users="vm.fetchedData.coworkers"
                             model="vm.newTeam.users"
                             info="{{vm.uiState.fetchingCoworkersMessage}}">
            </multiple-select>

          </div>
        </div>
      </form>
      <br>
      <div class="panel panel-info" id="savingTeam" hidden>
        <div class="panel-heading text-center">
          <img src="pictures//loading.gif" style="width:20px; height:20px;">
          <span id="fileUploadingText">&nbsp;Saving new team ...</span>
        </div>
      </div>
      <div class="panel panel-success" ng-show="vm.uiState.successNewTeam">
        <div class="panel-heading text-center text-success">
          {{vm.uiState.successNewTeam}}
        </div>
      </div>
      <div class="panel panel-danger" ng-show="vm.uiState.errorNewTeam">
        <div class="panel-heading text-center text-danger">
          {{vm.uiState.errorNewTeam}}
        </div>
      </div>


    </div>
    <div ng-show="vm.uiState.canSubmit" class="panel-footer text-right">

      <button class="btn btn-default" ng-click="vm.clearNewTeam()" type="reset">
        <i class="fa fa-fw fa-refresh"></i>	Clear
      </button>
      <button class="btn btn-primary" form="newTeam" ng-disabled="newTeamForm.$invalid" type="submit">
        <i class="fa fa-fw fa-save"></i>
        Save
      </button>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
