<div class="container-fluid">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        {{vm.title}}
      </h1>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-dashboard"></i>  <a href="#/home-page">Dashboard</a>
        </li>
        <li>
          <i class="fa fa-flask"></i> Projects
        </li>
        <li class="active">
          <i class="fa fa-plus-square"></i> New project
        </li>
      </ol>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">


  </div>
  <!-- /.row -->

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-flask fa-fw"></i> Add new project</h3>
    </div>
    <div class="panel-body">
      <h4> New project form </h4>
    </div>
    <div class="panel-footer text-right">

      <button class="btn btn-default" type="reset">
        <i class="fa fa-fw fa-refresh"></i>	Clear
      </button>
      <button class="btn btn-primary" type="submit">
        <i class="fa fa-fw fa-save"></i>
        Save
      </button>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
