<script src="custom_js/project_details.js"></script>

<div ng-hide="vm.uiState.showProject" class="container-fluid">
  <div class="jumbotron">
    <h1>Ooooops!</h1>
    <p>We can`t find that project!</p>
  </div>
</div>

<div ng-show="vm.uiState.showProject" class="container-fluid">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        {{vm.project.name}}
      </h1>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-dashboard"></i>  <a href="#/home-page">Dashboard</a>
        </li>
        <li>
          <i class="fa fa-flask"></i> Projects
        </li>
        <li class="active">
          {{vm.project.name}}
        </li>
      </ol>
    </div>
  </div>
  <!-- /.row -->

  <ul  class="nav nav-tabs">
    <li class="active" >
      <a id="tasks" data-toggle="tab"><i class="fa fa-fw fa-hourglass-half"></i>Tasks</a>
    </li>
    <li>
      <a id="documents" ng-click="vm.getDocuments()" data-toggle="tab"><i class="fa fa-fw fa-file"></i>Documents</a>
    </li>
    <li>
      <a id="comments" ng-click="vm.getComments()" data-toggle="tab"><i class="fa fa-fw fa-commenting"></i>Comments</a>
    </li>
    <li>
      <a id="info"  data-toggle="tab"><i class="fa fa-fw fa-info-circle"></i>Information</a>
    </li>
    <li>
      <a id="stats" ng-click="vm.getStats()" data-toggle="tab"><i class="fa fa-fw fa-pie-chart"></i>Stats</a>
    </li>
  </ul>

  <div class="tab-content clearfix">
    <div class="tab-pane active" id="tasks-tab">

      <br>
      <!-- Button trigger modal -->
      <button ng-show="vm.uiState.leader" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalTask">
        <i class="fa fa-fw fa-plus-square"> </i>
        Add new task
      </button>
      <br/> <br/>

      <div class="panel panel-success" ng-show="vm.uiState.addNewTask.successMsg">
        <div class="panel-heading text-center text-success" >
          {{vm.uiState.addNewTask.successMsg}}
        </div>
      </div>
      <!--<div id="TaskErrorPanel" class="panel panel-danger" ng-show="vm.uiState.addNewTask.errorMsg">-->
        <!--<div class="panel-heading text-center" >-->
          <!--{{vm.uiState.addNewTask.errorMsg}}-->
        <!--</div>-->
      <!--</div>-->

      <!-- Modal -->
      <div class="modal fade" id="modalTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabelTask">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
              <h4 class="modal-title" id="myModalLabelTask">Add new task</h4>
            </div>
            <div class="modal-body">
              <form id="newTask" name="newTaskForm" ng-submit="vm.saveNewTask()">
                <div class="container-fluid">
                  <div class="form-group">

                    <div class="row">
                      <div class="col-md-6">
                        <input-component placeholder="name for task"
                                         label="Task name"
                                         type="text"
                                         model="vm.newEntities.task.name"
                                         required="true"
                                         focus="true">
                        </input-component>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <label> Description for the project </label>
                        <textarea ng-model="vm.newEntities.task.description" ng-required="true" class="form-control" placeholder="Description..." rows="3"></textarea>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <label> Created at</label>
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                          <input class="form-control"
                                 format="DD/MM/YYYY HH:mm"
                                 ng-required="true"
                                 ng-model="vm.newEntities.task.createdOn"
                                 locale="en-gb"
                                 ng-model-options="{ updateOn: 'blur' }"
                                 placeholder="Created on..."
                                 moment-picker="vm.newEntities.task.createdOn"
                                 min-date="vm.datesRestriction.createdOn"
                                 max-date="vm.datesRestriction.deadline">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label> Deadline </label>
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                          <input class="form-control"
                                 format="DD/MM/YYYY HH:mm"
                                 ng-required="true"
                                 ng-model="vm.newEntities.task.deadline"
                                 locale="en-gb"
                                 ng-model-options="{ updateOn: 'blur' }"
                                 placeholder="Select deadline..."
                                 moment-picker="vm.newEntities.task.deadline"
                                 ng-disabled="!vm.newEntities.task.createdOn"
                                 min-date="vm.newEntities.task.createdOn"
                                 max-date="vm.datesRestriction.deadline">
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-8">
                        <label> Select users </label>
                        <multiple-select users="vm.project.team.users"
                                         model="vm.newEntities.task.users"
                                         required="false">
                        </multiple-select>
                      </div>
                    </div>


                  </div>
                  <div id="TaskErrorPanel" class="panel panel-danger" ng-show="vm.uiState.addNewTask.errorMsg">
                    <div class="panel-heading text-center" >
                      {{vm.uiState.addNewTask.errorMsg}}
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" ng-click="vm.clearNewTask()" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" form="newTask" ng-disabled="newTaskForm.$invalid" >
                <i class="fa fa-fw fa-save"></i> Save
              </button>
            </div>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">

          <span class="pull-left>">
            <span class="panel-title"><i class="fa fa-fw fa-hourglass-half"></i> Tasks for this project</span>
          </span>
          <span class="pull-right">
            <button class="btn btn-xs btn-success" ng-click="vm.refreshTasks()"> <i class="fa fa-fw fa-refresh"></i> REFRESH</button>
          </span>
        </div>
        <div class="panel-body">
          <div ng-show="vm.uiState.tasks.loadGif">
            <img src="pictures//loading.gif" style="width:20px; height:20px;">
          </div>
          <table st-table="tasks" st-safe-src="vm.entitiesData.tasks" ng-show="vm.uiState.tasks.showTasks" class="table table-bordered table-striped">
            <thead>
              <tr>
                <!--<th st-sort="name">Name</th>-->
                <!--<th st-sort="shortName">Short name</th>-->
                <th>Name</th>
                <th>Created on</th>
                <th>Deadline</th>
                <th>Working on</th>
                <th>State</th>
                <th>Actions</th>
              </tr>
              <tr>
                <th colspan="6"> <input type="text" class="form-control" st-search="name" st-delay="400" type="search" placeholder="search by task name..."> </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="t in tasks | orderBy:['name'] | filter:searchProfName">
                <td valign="center"><a href="#/task-details/{{t.id}}">{{t.name}}</a></td>
                <!--<td>{{t.id}}</td>-->
                <td >{{t.createdOn}}</td>
                <td >{{t.deadline}}</td>
                <td><span ng-repeat="u in t.users" ng-class="{'last': $last}">{{u.name+" "+u.surname}}<span ng-show="!$last">, &nbsp;</span></span></td>
                <!--<td>{{t.leader.user.name+" "+t.leader.user.surname}}</td>-->
                <td>
                  <span ng-class="t.cssClass"> {{t.state}} </span>
                </td>
                <td>
                  <button class="btn btn-danger btn-xs removeTask"
                          ng-disabled="!vm.uiState.leader"
                          ng-click="vm.removeTask(t.id)">
                    <i class="fa fa-times"></i>&nbsp; Delete task
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6" class="text-center">
                  <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                </td>
              </tr>
            </tfoot>
          </table>
          <div class="panel panel-info" ng-show="vm.uiState.tasks.showNoTasksPanel">
            <div class="panel-heading text-center text-info">
              This project doesn`t have any tasks!
            </div>
          </div>
          <div class="panel panel-danger" ng-show="vm.uiState.tasks.showErrorPanel">
            <div class="panel-heading text-center text-danger">
              <div> We run into an error!</div>
              <div> Try again later!</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="documents-tab">
      <!--<h3>Documents</h3>-->
      <br>

      <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDoc">
          <i class="fa fa-fw fa-plus-square"> </i>
          Upload file
        </button>
      <br>
      <br>
      <div class="panel panel-success" ng-show="vm.uiState.addNewDocument.successMsg">
        <div class="panel-heading text-center text-success" >
        {{vm.uiState.addNewDocument.successMsg}}
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modalDoc" tabindex="-1" role="dialog" aria-labelledby="myModalLabelDoc">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
              <h4 class="modal-title" id="myModalLabelDoc">Add new document</h4>
            </div>
            <div class="modal-body">
              <form id="newDocument" name="newDocumentFrom" ng-submit="vm.saveNewDocument()" enctype="multipart/form-data" >
                <div class="form-group">
                  <input id="file"
                       type="file"
                       file-model="myFile"
                       class="btn btn-danger"
                       required/>
                </div>
              </form>
              <br>
              <div class="panel panel-info" id="fileUploading" hidden>
                <div class="panel-heading text-center">
                <img src="pictures//loading.gif" style="width:20px; height:20px;">
                <span id="fileUploadingText">&nbsp;Uploading {{vm.file.name}} ...</span>
                  </div>
              </div>
              <div id="documentErrorPanel" class="panel panel-danger" ng-show="vm.uiState.addNewDocument.errorMsg">
                <div class="panel-heading text-center" >
                  {{vm.uiState.addNewDocument.errorMsg}}
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button id="documentFormCancel" type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clearNewDocument()">Close</button>
              <button form="newDocument" id="documentFormSubmit" type="submit" class="btn btn-primary" disabled>
                <i class="fa fa-fw fa-save"></i> Save
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">


        <span class="pull-left>">
            <span class="panel-title"><i class="fa fa-file fa-fw"></i> Documents </span>
          </span>
        <span class="pull-right">
            <button class="btn btn-xs btn-success" ng-click="vm.refreshDocuments()"> <i class="fa fa-fw fa-refresh"></i> REFRESH</button>
          </span>
        </div>
        <div class="panel-body">
          <div ng-show="vm.uiState.documents.loadGif">
            <img src="pictures//loading.gif" style="width:20px; height:20px;">
          </div>
          <table st-table="documents" st-safe-src="vm.entitiesData.documents" ng-show="vm.uiState.documents.showDocuments" class="table table-bordered table-striped">
            <thead>
            <tr>
              <!--<th st-sort="name">Name</th>-->
              <!--<th st-sort="shortName">Short name</th>-->
              <th>Name</th>
              <th>Size</th>
              <th>Created on</th>
              <th>Uploaded By</th>
              <th>Actions</th>
            </tr>
            <tr>
              <th colspan="6"> <input type="text" class="form-control" st-search="name" st-delay="400" type="search" placeholder="search by file name..."> </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="d in documents | orderBy:['date']:reverse = true| filter:searchProfName">
              <td><i class="fa fa-file{{d.icon}}"></i><a href={{"http://localhost:8080/api/document/"+d.id}}>&nbsp;{{d.name}}</a></td>
              <td>{{d.size/1024 | number:0 }}&nbsp; KB</td>
              <td>{{d.date}}</td>
              <td>{{d.user.name}}</td>
              <td>
                <button class="btn btn-danger btn-xs removeDocument"
                          ng-disabled="{{d.user.id!=vm.USER_ID && !vm.uiState.leader ? true : false }}"
                          ng-click="vm.removeDocument(d.id, d.user.id)">
                  <i class="fa fa-times"></i>&nbsp; Remove document
                </button>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
              </td>
            </tr>
            </tfoot>
          </table>

          <div class="panel panel-info" ng-show="vm.uiState.documents.showNoDocumentsPanel">
            <div class="panel-heading text-center text-info">
              This project doesn`t have any documents!
            </div>
          </div>

          <div class="panel panel-danger" ng-show="vm.uiState.documents.showErrorPanel">
            <div class="panel-heading text-center text-danger">
              <div> We run into an error!</div>
              <div> Try again later!</div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="tab-pane" id="comments-tab">
      <!--<h3>Comments</h3>-->
      <br><br>
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="pull-left>">
            <span class="panel-title"><i class="fa fa-fw fa-commenting"></i>Comments</span>
          </span>
          <span class="pull-right">
            <button class="btn btn-xs btn-success" ng-click="vm.refreshComments()"> <i class="fa fa-fw fa-refresh"></i> REFRESH</button>
          </span>
          <!--<h3 class="panel-title"><i class="fa fa-fw fa-commenting"></i>Comments</h3>-->
        </div>
        <div class="panel-body">
          <div ng-show="vm.uiState.comments.loadGif">
            <img src="pictures//loading.gif" style="width:20px; height:20px;">
          </div>
          <table st-table="comments" st-safe-src="vm.entitiesData.comments" ng-show="vm.uiState.comments.showComments" class="table">
            <tbody>
              <tr ng-repeat="c in comments">
                <td class="td-left-align">
                  <div class="media">
                    <div class="media-left">
                      <a href="#">
                        <img class="media-object" src="pictures/64x64.svg" alt="...">
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">{{c.user.name+" "+c.user.surname}} </h4>
                      <small> {{c.date}} </small>
                      <p> {{c.text}} </p>
                    </div>
                  </div>
                </td>
                <td>
                  <button class="btn btn-danger btn-xs removeComment"
                          ng-disabled="{{c.user.id!=vm.USER_ID && !vm.uiState.leader ? true : false }}"
                          ng-click="vm.removeComment(c.id, c.user.id)">
                    <i class="fa fa-times"></i><!--&nbsp; Remove comment-->
                  </button>
                </td>
              </tr>

            </tbody>
            <tfoot>
            <tr>
              <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
              </td>
            </tr>
            </tfoot>
          </table>

          <div class="panel panel-info" id="savingComment" hidden>
            <div class="panel-heading text-center">
              <img src="pictures//loading.gif" style="width:20px; height:20px;">
              <span>&nbsp;Saving new comment ...</span>
            </div>
          </div>

          <div class="panel panel-info" ng-show="vm.uiState.comments.showNoCommentsPanel">
            <div class="panel-heading text-center text-info">
              There are no comments for this project!
            </div>
          </div>
          <div class="panel panel-danger" ng-show="vm.uiState.comments.showErrorPanel">
            <div class="panel-heading text-center text-danger">
              <div> We run into an error!</div>
              <div> Try again later!</div>
            </div>
          </div>

          <div class="panel panel-success" ng-show="vm.uiState.comments.successMsg">
            <div class="panel-heading text-center text-success">
              <!--Successfully submitted comment!-->
              {{vm.uiState.comments.successMsg}}
            </div>
          </div>
          <div class="panel panel-danger" ng-show="vm.uiState.comments.errorMsg">
            <div class="panel-heading text-center text-danger">
              <!--Try again to comment!-->
              {{vm.uiState.comments.errorMsg}}
            </div>
          </div>
        </div>
        <div class="panel-footer text-right" ng-show="vm.uiState.comments.canComment">

          <form ng-submit="vm.saveNewComment()" name="newCommentForm">
            <textarea class="form-control" ng-required="true" ng-model="vm.newEntities.comment.text" placeholder="Your comment" rows="3"></textarea> <br>
            <button class="btn btn-success" type="submit" ng-disabled="newCommentForm.$invalid">	<i class="fa fa-fw fa-paper-plane"></i>	Comment </button>
          </form>

        </div>
      </div>


    </div>

    <div class="tab-pane" id="info-tab">
      <h3>Information</h3>
      <span>State:</span>
      <span> {{vm.project.state}} </span>
    </div>

    <div class="tab-pane" id="stats-tab">
      <!--<h3>Stats</h3>-->
      <br> <br>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-pie-chart"></i> Tasks stage</h3>
        </div>
        <div class="panel-body">
          <c3chart ng-show="vm.uiState.showStats"
                   bindto-id="tasks-chart"
                   chart-data="vm.c3DataTest.donuts.points.tasks"
                   chart-columns="vm.c3DataTest.donuts.columns.tasks">
            <chart-legend show-legend="true" legend-position="right"/>
            <chart-donut title="Tasks stage percentages" width="60"/>
          </c3chart>
          <div class="panel panel-info" ng-hide="vm.uiState.showStats">
            <div class="panel-heading text-center text-info">
              This project does not contain any tasks!
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>


</div>
<!-- /.container-fluid -->

<script src="custom_js/tabs.js"></script>
<script src="custom_js/bootstrap-filestyle.min.js"></script>
<script src="custom_js/file_upload.js"></script>

