/*Bojan*/
td, th{
  text-align: center;
}

.td-left-align{
  text-align: left;
}

.font-awesome-padding-right{
  padding-right: 1.5%;
}

/*za datepickerot da izleguva vo modalot*/
.moment-picker{
  z-index: 1050 !important;
}

.nav-tabs>li>a{
  cursor: pointer;
}
