
.main-page {
  margin-top: 50px;
}

.top-buffer {
  margin-top: 20px;
}


.search-margin {
  margin-bottom: 20px;
}

.clickable {
  cursor: pointer;
}

/*.inputfile {*/
  /*width: 0.1px;*/
  /*height: 0.1px;*/
  /*opacity: 0;*/
  /*overflow: hidden;*/
  /*position: absolute;*/
  /*z-index: -1;*/
/*}*/

/*.inputfile + label {*/
  /*color: #fff;*/
  /*background-color: #d9534f;*/
  /*border-color: #d43f3a;*/
  /*display: inline-block;*/
  /*padding: 6px 12px;*/
  /*margin-bottom: 0;*/
  /*font-size: 14px;*/
  /*font-weight: normal;*/
  /*line-height: 1.42857143;*/
  /*text-align: center;*/
  /*white-space: nowrap;*/
  /*vertical-align: middle;*/
  /*-ms-touch-action: manipulation;*/
  /*touch-action: manipulation;*/
  /*cursor: pointer;*/
  /*-webkit-user-select: none;*/
  /*-moz-user-select: none;*/
  /*-ms-user-select: none;*/
  /*user-select: none;*/
  /*background-image: none;*/
  /*border: 1px solid transparent;*/
  /*border-radius: 4px;*/
/*}*/

/*.inputfile:focus + label,*/
/*.inputfile + label:hover {*/
  /*background-color: #c9302c;*/
/*}*/
