<div class="container-fluid">

  <!-- Page Heading -->

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Statistics
      </h1>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-dashboard"></i>  <a href="#/home-page">Dashboard</a>
        </li>
        <li class="active">
          <i class="fa fa-bar-chart-o"></i> Statistics
        </li>
      </ol>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">

    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-line-chart"></i> Time series chart</h3>
        </div>
        <div class="panel-body">
          <!--<div id="chart3" style="max-height: 320px; position: relative;"></div>-->
          <!--<c3chart bindto-id="chart1"-->
                   <!--show-labels="false"-->
                   <!--chart-data="vm.c3DataTest.time_chart.points"-->
                   <!--chart-columns="vm.c3DataTest.time_chart.columns"-->
                   <!--chart-x="vm.c3DataTest.time_chart.tickValues2">-->
            <!--<chart-column column-id="line1"-->
                          <!--column-name="Created"-->
                          <!--column-values="30, 5, 3, 10, 18, 25"-->
                          <!--column-type="line"/>-->
            <!--<chart-column column-id="line2"-->
                          <!--column-name="Not started"-->
                          <!--column-values="0, 10, 20, 15, 25, 20"-->
                          <!--column-type="line"/>-->
            <!--<chart-column column-id="line3"-->
                          <!--column-name="In progress"-->
                          <!--column-values="0, 10, 45, 70, 60, 85"-->
                          <!--column-type="line"/>-->
            <!--<chart-column column-id="line4"-->
                          <!--column-name="Up to date"-->
                          <!--column-values="0, 5, 30, 45, 27, 35"-->
                          <!--column-type="line"/>-->
            <!--<chart-column column-id="line5"-->
                          <!--column-name="Finished"-->
                          <!--column-values="0, 5, 35, 38, 40, 45"-->
                          <!--column-type="line"/>-->
            <!--<chart-column column-id="line6"-->
                          <!--column-name="Deadline breach"-->
                          <!--column-values="0, 0, 1, 0, 2, 0"-->
                          <!--column-type="line"/>-->
            <!--<chart-axis>-->
              <!--<chart-axis-x axis-id="x" axis-type="timeseries">-->
                <!--<chart-axis-x-tick tick-format="%Y-%d-%m"/>-->
              <!--</chart-axis-x>-->
            <!--</chart-axis>-->
            <!--<chart-axes values-xs="x"/>-->
            <!--<chart-points point-radius="5"-->
                          <!--show-point="true"-->
                          <!--point-expand-enabled="true"-->
                          <!--point-expand-radius="10"/>-->
          <!--</c3chart>-->

        </div>
        <!--TODO da se napise description-->
        <div class="panel-footer">
          <p> Descrption for this statistic category</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-pie-chart"></i> Projects state </h3>
        </div>
        <div class="panel-body">
          <div ng-show="vm.uiState.donuts.projects.loadGif">
            <img src="pictures//loading.gif" style="width:20px; height:20px;">
          </div>
          <c3chart bindto-id="project-chart"
                   chart-data="vm.c3DataTest.donuts.points.projects"
                   chart-columns="vm.c3DataTest.donuts.columns.projects"
                   ng-show="vm.uiState.donuts.projects.showStats">
            <chart-legend show-legend="true" legend-position="right"/>
            <chart-size chart-height="350" chart-width="450"/>
            <chart-donut title="Projects state percentages" width="60"/>
          </c3chart>
          <div class="panel panel-info" ng-show="vm.uiState.donuts.projects.showNoStatsPanel">
            <div class="panel-heading text-center text-info">
              You are not leader to any project!
            </div>
          </div>
          <div class="panel panel-danger" ng-show="vm.uiState.donuts.projects.showErrorPanel">
            <div class="panel-heading text-center text-danger">
              <div> We run into error!</div>
              <div> Try again later!</div>
            </div>
          </div>
        </div>
        <!--TODO da se napise description-->
        <div class="panel-footer">
          <p> Descrption for this statistic category</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-pie-chart"></i> Tasks stage</h3>
        </div>
        <div class="panel-body">
          <div ng-show="vm.uiState.donuts.tasks.loadGif">
            <img src="pictures//loading.gif" style="width:20px; height:20px;">
          </div>
          <c3chart bindto-id="tasks-chart"
                   chart-data="vm.c3DataTest.donuts.points.tasks"
                   chart-columns="vm.c3DataTest.donuts.columns.tasks"
                   ng-show="vm.uiState.donuts.tasks.showStats">
            <chart-legend show-legend="true" legend-position="right"/>
            <chart-size chart-height="350" chart-width="450"/>
            <chart-donut title="Tasks stage percentages" width="60"/>
          </c3chart>
          <div class="panel panel-info" ng-show="vm.uiState.donuts.tasks.showNoStatsPanel">
            <div class="panel-heading text-center text-danger">
              Your projects don`t have any tasks!
            </div>
          </div>
          <div class="panel panel-danger" ng-show="vm.uiState.donuts.tasks.showErrorPanel">
            <div class="panel-heading text-center text-danger">
              <div> We run into error!</div>
              <div> Try again later!</div>
            </div>
          </div>
        </div>
        <!--TODO da se napise description-->
        <div class="panel-footer">
          <p> Descrption for this statistic category</p>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Projects per team </h3>
        </div>
        <div class="panel-body">
          <c3chart bindto-id="bar-chart" chart-data="vm.c3DataTest.bar_chart.points" chart-columns="vm.c3DataTest.bar_chart.columns">
            <chart-axis axis-rotate="true"/>
          </c3chart>
        </div>
        <!--TODO da se napise description-->
        <div class="panel-footer">
          <p> Descrption for this statistic category</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->
