<div class="container-fluid">

  <!-- Page Heading -->

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Statistics
      </h1>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-dashboard"></i>  <a href="#/home-page">Dashboard</a>
        </li>
        <li class="active">
          <i class="fa fa-bar-chart-o"></i> Statistics
        </li>
      </ol>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-pie-chart"></i> Projects states </h3>
        </div>
        <div class="panel-body">
          <div ng-show="vm.uiState.donuts.projects.loadGif">
            <img src="pictures//loading.gif" style="width:20px; height:20px;">
          </div>
	<div class="table-responsive">
          <c3chart bindto-id="project-chart"
                   chart-data="vm.c3DataTest.donuts.points.projects"
                   chart-columns="vm.c3DataTest.donuts.columns.projects"
                   ng-show="vm.uiState.donuts.projects.showStats">
            <chart-legend show-legend="true" legend-position="right"/>
            <chart-size chart-height="300" chart-width="450"/>
            <chart-donut title="Projects state percentages" width="60"/>
          </c3chart>
	</div>
          <div class="panel panel-info" ng-show="vm.uiState.donuts.projects.showNoStatsPanel">
            <div class="panel-heading text-center text-info">
              You are not leader to any project!
            </div>
          </div>
          <div class="panel panel-danger" ng-show="vm.uiState.donuts.projects.showErrorPanel">
            <div class="panel-heading text-center text-danger">
              <div> We run into error!</div>
              <div> Try again later!</div>
            </div>
          </div>
        </div>
        <!--TODO da se napise description-->
        <div class="panel-footer">
          Project states for projects that you are leader.
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-pie-chart"></i> Tasks states</h3>
        </div>
        <div class="panel-body">
          <div ng-show="vm.uiState.donuts.tasks.loadGif">
            <img src="pictures//loading.gif" style="width:20px; height:20px;">
          </div>
	<div class="table-responsive">
          <c3chart bindto-id="tasks-chart"
                   chart-data="vm.c3DataTest.donuts.points.tasks"
                   chart-columns="vm.c3DataTest.donuts.columns.tasks"
                   ng-show="vm.uiState.donuts.tasks.showStats">
            <chart-legend show-legend="true" legend-position="right"/>
            <chart-size chart-height="300" chart-width="450"/>
            <chart-donut title="Tasks stage percentages" width="60"/>
          </c3chart>
	</div>
          <div class="panel panel-info" ng-show="vm.uiState.donuts.tasks.showNoStatsPanel">
            <div class="panel-heading text-center text-info">
              Your projects don`t have any tasks!
            </div>
          </div>
          <div class="panel panel-danger" ng-show="vm.uiState.donuts.tasks.showErrorPanel">
            <div class="panel-heading text-center text-danger">
              <div> We run into error!</div>
              <div> Try again later!</div>
            </div>
          </div>
        </div>
        <!--TODO da se napise description-->
        <div class="panel-footer">
          Task stages for all tasks that are part from projects that you are leading.
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Projects per team </h3>
        </div>
        <div class="panel-body">
          <div ng-show="vm.uiState.teams.loadGif">
            <img src="pictures//loading.gif" style="width:20px; height:20px;">
          </div>
          <c3chart bindto-id="bar-chart"
                   chart-data="vm.c3DataTest.bar_chart.points"
                   chart-columns="vm.c3DataTest.bar_chart.columns"
                   ng-show="vm.uiState.teams.showStats">
            <chart-axis axis-rotate="true"/>
            <!--<chart-size chart-height="650" chart-width="1042"/>-->
            <chart-bar ratio="0.8"/>
          </c3chart>

          <div class="panel panel-info" ng-show="vm.uiState.teams.showNoStatsPanel">
            <div class="panel-heading text-center text-info">
              You are not leader to any team!
            </div>
          </div>

          <div class="panel panel-danger" ng-show="vm.uiState.teams.errorPanel">
            <div class="panel-heading text-center text-danger">
              <div> We run into error!</div>
              <div> Try again later!</div>
            </div>
          </div>

        </div>

        <!--TODO da se napise description-->
        <div class="panel-footer">
          How many projects has each team that you are leading.
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->
