<div class="container-fluid">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Teams that you are leading
      </h1>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
        </li>
        <li>
          <i class="fa fa-users"></i> Teams
        </li>
        <li class="active">
          <i class="fa fa-cogs"></i> Your teams
        </li>
      </ol>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">


  </div>
  <!-- /.row -->

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-cogs fa-fw"></i> Your teams</h3>
    </div>
    <div class="panel-body">
      <div ng-show="vm.uiState.loadGif">
        <img src="pictures//loading.gif" style="width:20px; height:20px;">
      </div>

      <div class="panel panel-success" ng-show="vm.uiState.successDeleteTeam">
        <div class="panel-heading text-center text-success">
          {{vm.uiState.successDeleteTeam}}
        </div>
      </div>
      <div class="panel panel-danger " ng-show="vm.uiState.errorDeleteTeam">
        <div class="panel-heading text-center text-danger">
          {{vm.uiState.errorDeleteTeam}}
        </div>
      </div>
      <div class="table-responsive">
      <table st-table="teams" st-safe-src="vm.teams" ng-show="vm.uiState.showTeams" class="table  table-responsive table-bordered table-striped">
        <thead>
        <tr>
          <!--<th st-sort="name">Name</th>-->
          <!--<th st-sort="shortName">Short name</th>-->
          <th>Name</th>
          <th>Projects number</th>
          <th>Tasks number</th>
          <th>Workers</th>
          <th>Actions</th>
        </tr>
        <tr>
          <th colspan="6"> <input type="text" class="form-control" st-search="name" st-delay="400" type="search" placeholder="search by team name..."> </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="t in teams | orderBy:['name'] | filter:searchProfName">
          <td><a href="#/team-details/{{t.id}}">{{t.name}}</a></td>
          <td>{{t.projectNum}}</td>
          <td>{{t.tasksNum==null ? 0 : t.tasksNum}}</td>
          <td>{{t.usersNum}}</td>
          <td>
            <!--TODO napraj paneli za brisenjeto-->
            <button class="btn btn-danger btn-xs removeTeam"
                    confirm-click="vm.deleteTeam(t.id)"
                    confirm-message="Are you sure?">
              <i class="fa fa-times"></i>&nbsp; Delete team &nbsp;
            </button>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="6" class="text-center">
            <div st-pagination="" st-items-by-page="7" st-displayed-pages="5"></div>
          </td>
        </tr>
        </tfoot>
      </table>
        </div>
      <div class="panel panel-info" ng-show="vm.uiState.showNoTeamsPanel">
        <div class="panel-heading text-center text-info">
          You are not leader for any team!
        </div>
      </div>
      <div class="panel panel-danger " ng-show="vm.uiState.showErrorPanel">
        <div class="panel-heading text-center text-danger">
          <div> We run into an error!</div>
          <div> Try again later!</div>
        </div>
      </div>

    </div>

  </div>
</div>
<!-- /.container-fluid -->
