<div class="container-fluid">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Coworkers panel
      </h1>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-dashboard"></i>  <a href="#/home-page">Dashboard</a>
        </li>
        <li class="active">
          <i class="fa fa-fw fa-handshake-o"></i> Coworkers
        </li>
      </ol>
    </div>
  </div>
  <!-- /.row -->


  <ul  class="nav nav-tabs">
    <li class="active">
      <a id="coworkers" data-toggle="tab"><i class="fa fa-fw fa-handshake-o"></i>Coworkers</a>
    </li>
    <li>
      <a id="send-requests" ng-click="" data-toggle="tab"><i class="fa fa-plus-square"></i>Send request</a>
    </li>
    <li>
      <a id="sent-requests" ng-click="vm.getSentRequests()" data-toggle="tab"><i class="fa fa-arrow-circle-o-up"></i>Sent requests</a>
    </li>
    <li>
      <a id="received-request" ng-click="vm.getReceivedRequests()" data-toggle="tab"><i class="fa fa-arrow-circle-o-down"></i>Requests for you</a>
    </li>
  </ul>

  <br><br>

  <div class="tab-content clearfix">

    <div class="tab-pane active" id="coworkers-tab">
      <div class="panel panel-default">
        <div class="panel-heading">
          <!--<h3 class="panel-title"><i class="fa fa-handshake-o"></i> Coworkers </h3>-->
          <span class="pull-left>">
            <span class="panel-title"><i class="fa fa-handshake-o"></i>Coworkers</span>
          </span>
          <span class="pull-right">
            <button class="btn btn-xs btn-success" ng-click="vm.refreshCoworkers()"> <i class="fa fa-fw fa-refresh"></i> REFRESH</button>
          </span>
        </div>
        <div class="panel-body">
          <div ng-show="vm.uiState.coworkers.loadGif">
            <img src="pictures//loading.gif" style="width:20px; height:20px;">
          </div>

          <div class="panel panel-info" ng-show="vm.uiState.coworkers.showNoCoworkersPanel">
            <div class="panel-heading text-center text-info">
              You don`t have coworkers yet!
            </div>
          </div>
          <div class="panel panel-danger" ng-show="vm.uiState.coworkers.showErrorPanel">
            <div class="panel-heading text-center text-danger">
              <div> We run into an error!</div>
              <div> Try again later!</div>
            </div>
          </div>

          <div class="panel panel-success" ng-show="vm.uiState.coworkers.successMsg">
            <div class="panel-heading text-center text-success">
              {{vm.uiState.coworkers.successMsg}}
            </div>
          </div>
          <div class="panel panel-danger" ng-show="vm.uiState.coworkers.errorMsg">
            <div class="panel-heading text-center text-danger">
              {{vm.uiState.coworkers.errorMsg}}
            </div>
          </div>

          <table st-table="coworkers" st-safe-src="vm.fetchedData.coworkers" ng-show="vm.uiState.coworkers.showCoworkers" class="table table-bordered table-striped">
            <thead>
            <tr>
              <!--<th st-sort="name">Name</th>-->
              <!--<th st-sort="shortName">Short name</th>-->
              <th>User</th>
              <th>Username</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
            <tr>
              <th colspan="4"> <input type="text" class="form-control" st-search st-delay="400" type="search" placeholder="search..."> </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="cw in coworkers">
              <td><a href="#">{{cw.name+" "+cw.surname}}</a></td>
              <!--<td>{{t.id}}</td>-->
              <td>{{cw.username}}</td>
              <td>{{cw.email}}</td>
              <td>
                <button class="btn btn-danger btn-xs removeCoworker" ng-click="vm.removeAsCoworker(cw.id)">
                  <i class="fa fa-times"></i> Remove as coworker
                </button>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
              </td>
            </tr>
            </tfoot>
          </table>


        </div>
      </div>
    </div>

    <div class="tab-pane" id="send-requests-tab">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="pull-left>">
            <span class="panel-title"><i class="fa fa-plus-square"></i>Send request</span>
          </span>
          <!--<span class="pull-right">-->
          <!--<button class="btn btn-xs btn-success" ng-click=""> <i class="fa fa-fw fa-refresh"></i> REFRESH</button>-->
          <!--</span>-->
        </div>
        <div class="panel-body">
          <form id="searchUser" name="searchUserForm" ng-submit="vm.searchEligibleUsers()">
            <div class="row">
              <div class="col-md-9">
                <input-component placeholder="search criteria"
                                 type="text"
                                 model="vm.searchCriteria"
                                 required="true"
                                 focus="true">
                </input-component>
              </div>
              <div class="col-md-3">
                <button class="btn btn-primary btn btn-block search"
                        form="searchUser"
                        ng-disabled="searchUserForm.$invalid"
                        type="submit"
                        style="margin-top:8%">
                  <i class="fa fa-fw fa-search"></i>
                  Search
                </button>
              </div>
            </div>
          </form>

          <table st-table="searchResults" st-safe-src="vm.fetchedData.searchResults" ng-show="vm.uiState.eligibleUsers.showEligibleUsers" class="table table-bordered table-striped">
            <thead>
            <tr>
              <!--<th st-sort="name">Name</th>-->
              <!--<th st-sort="shortName">Short name</th>-->
              <th>User</th>
              <th>Username</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
            <tr>
              <th colspan="4"> <input type="text" class="form-control" st-search st-delay="400" type="search" placeholder="search..."> </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sr in searchResults">
              <td><a href="#">{{sr.name+" "+sr.surname}}</a></td>
              <!--<td>{{t.id}}</td>-->
              <td>{{sr.username}}</td>
              <td>{{sr.email}}</td>
              <td>
                <button class="btn btn-success btn-xs sendRequest" ng-click="vm.sendRequest(sr)">
                  <i class="fa fa-plus-square"></i> Send request
                </button>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
              </td>
            </tr>
            </tfoot>
          </table>

          <div class="panel panel-success" ng-show="vm.uiState.eligibleUsers.successPanel">
            <div class="panel-heading text-center text-success">
              {{vm.uiState.eligibleUsers.successPanel}}
            </div>
          </div>
          <div class="panel panel-info" ng-show="vm.uiState.eligibleUsers.showNoEligibleUsers">
            <div class="panel-heading text-center text-info">
              No user matches your search!
            </div>
          </div>
          <div class="panel panel-danger" ng-show="vm.uiState.eligibleUsers.errorPanel">
            <div class="panel-heading text-center text-danger">
              {{vm.uiState.eligibleUsers.errorPanel}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="sent-requests-tab">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="pull-left>">
            <span class="panel-title"><i class="fa fa-arrow-circle-o-up"></i>Sent requests</span>
          </span>
          <span class="pull-right">
            <button class="btn btn-xs btn-success" ng-click="vm.refreshSentRequests()"> <i class="fa fa-fw fa-refresh"></i> REFRESH</button>
          </span>
        </div>
        <div class="panel-body">
          <div ng-show="vm.uiState.sent.loadGif">
            <img src="pictures//loading.gif" style="width:20px; height:20px;">
          </div>

          <div class="panel panel-info" ng-show="vm.uiState.sent.showNoSentRequests">
            <div class="panel-heading text-center text-info">
              You did not have sent requests!
            </div>
          </div>
          <div class="panel panel-danger" ng-show="vm.uiState.sent.showErrorPanel">
            <div class="panel-heading text-center text-danger">
              <div> We run into an error!</div>
              <div> Try again later!</div>
            </div>
          </div>

          <div class="panel panel-success" ng-show="vm.uiState.sent.successMsg">
            <div class="panel-heading text-center text-success">
              {{vm.uiState.sent.successMsg}}
            </div>
          </div>
          <div class="panel panel-danger" ng-show="vm.uiState.sent.errorMsg">
            <div class="panel-heading text-center text-danger">
              {{vm.uiState.sent.errorMsg}}
            </div>
          </div>

          <table st-table="sentRequests" st-safe-src="vm.fetchedData.sentRequests" ng-show="vm.uiState.sent.showSentRequests" class="table table-bordered table-striped">
            <thead>
            <tr>
              <!--<th st-sort="name">Name</th>-->
              <!--<th st-sort="shortName">Short name</th>-->
              <th>User</th>
              <th>Username</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
            <tr>
              <th colspan="4"> <input type="text" class="form-control" st-search st-delay="400" type="search" placeholder="search..."> </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sr in sentRequests">
              <td><a href="#">{{sr.name+" "+sr.surname}}</a></td>
              <td>{{sr.username}}</td>
              <td>{{sr.email}}</td>
              <td>
                <button class="btn btn-warning btn-xs cancelRequest" ng-click="vm.cancelRequest(sr.id)">
                  <i class="fa fa-ban"></i> Cancel request
                </button>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
              </td>
            </tr>
            </tfoot>
          </table>

        </div>
      </div>
    </div>

    <div class="tab-pane" id="received-request-tab">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="pull-left>">
            <span class="panel-title"><i class="fa fa-arrow-circle-o-down"></i>Requests for you</span>
          </span>
          <span class="pull-right">
            <button class="btn btn-xs btn-success" ng-click="vm.refreshReceivedRequests()"> <i class="fa fa-fw fa-refresh"></i> REFRESH</button>
          </span>
        </div>
        <div class="panel-body">
          <div ng-show="vm.uiState.received.loadGif">
            <img src="pictures//loading.gif" style="width:20px; height:20px;">
          </div>

          <div class="panel panel-info" ng-show="vm.uiState.received.showNoReceivedRequests">
            <div class="panel-heading text-center text-info">
              You don`t have requests yet!
            </div>
          </div>
          <div class="panel panel-danger" ng-show="vm.uiState.received.showErrorPanel">
            <div class="panel-heading text-center text-danger">
              <div> We run into an error!</div>
              <div> Try again later!</div>
            </div>
          </div>

          <div class="panel panel-success" ng-show="vm.uiState.received.successMsg">
            <div class="panel-heading  text-center text-success">
              {{vm.uiState.received.successMsg}}
            </div>
          </div>
          <div class="panel panel-danger" ng-show="vm.uiState.received.errorMsg">
            <div class="panel-heading  text-center text-danger">
              {{vm.uiState.received.errorMsg}}
            </div>
          </div>

          <table st-table="receivedRequests" st-safe-src="vm.fetchedData.receivedRequests" ng-show="vm.uiState.received.showReceivedRequests" class="table table-bordered table-striped">
            <thead>
            <tr>
              <!--<th st-sort="name">Name</th>-->
              <!--<th st-sort="shortName">Short name</th>-->
              <th>User</th>
              <th>Username</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
            <tr>
              <th colspan="4"> <input type="text" class="form-control" st-search st-delay="400" type="search" placeholder="search..."> </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rr in receivedRequests">
              <td><a href="#">{{rr.name+" "+rr.surname}}</a></td>
              <!--<td>{{t.id}}</td>-->
              <td>{{rr.username}}</td>
              <td>{{rr.email}}</td>
              <td>
                <button class="btn btn-success btn-xs acceptRequest" ng-click="vm.acceptRequest(rr)">
                  <i class="fa fa-plus"></i> Accept
                </button>
                <button class="btn btn-danger btn-xs refuseRequest" ng-click="vm.refuseRequest(rr.id)">
                  <i class="fa fa-times"></i> Turn down
                </button>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
              </td>
            </tr>
            </tfoot>
          </table>


        </div>
      </div>
    </div>

  </div>

</div>
<!-- /.container-fluid -->

<script src="custom_js/tabs.js"></script>
<script src="custom_js/coworkers-buttons.js"></script>
